
<div style="display: flex; flex-direction: column;">
  <div>
    <label for="">Payee Name</label>
    <input type="text" pInputText (input) = "onNameChange(random.value)" #random>
    {{name | titlecase}}
  </div>
  
  <div>
    <label for="">Choose Date Of Repayment</label>
    <p-calendar [(ngModel)]="date"></p-calendar>
    {{date | date: 'dd/MM/yyyy'}}
  </div>
  <div>
    <label for="">Currency</label>
    <input type="text" pInputText (input) = "onCurrencyChange(currency.value)" #currency>
   
  </div>
</div>